@font-face {
    font-family: Lato;
    font-weight: normal;
    font-style: normal;
    src: url("Lato-Regular.ttf") format("ttf");
  }
  
@font-face {
    font-family: Lato-Black;
    font-weight: normal;
    font-style: normal;
    src: url("Lato-Black.ttf") format("ttf");
}

@font-face {
  font-family: Lato-Bold;
  font-weight: normal;
  font-style: normal;
  src: url("Lato-Bold.ttf") format("ttf");
}
  
  @font-face {
    font-family: Airstrike;
    font-weight: normal;
    font-style: normal;
    src: url("airstrike.ttf") format("ttf");
  }
  
  @font-face {
    font-family: Airstrike Laser;
    font-weight: normal;
    font-style: normal;
    src: url("airstrikelaser.ttf") format("ttf");
  }
  
  @font-face {
    font-family: Dosis;
    font-weight: 400;
    font-style: normal;
    src: url("Dosis-Regular.ttf") format("ttf");
  }