.title{
    font-family: Lato;
    font-size: 50px;
    margin-left: 10px;
  }
  
  h1 {
    font-family: Lato;
    font-size: 36px;    
    font-weight: bold;
    line-height: inherit;
    margin: 0;
  }
  
  h3 {
    font-family: 'SF-Display';
    font-size: 18px;    
    font-weight: bold;
    line-height: inherit;
    margin: 0;
  }
  h6 {
    font-family: 'SF-Text';
    font-size: 14px;    
    font-weight: bold;
    line-height: inherit;
    margin: 0;
  }
  
  @media screen and (min-width: 450px) {
    h1 {
        font-size: calc(36px + 36* ((100vw - 320px) / 680));
    }
    h2 {
        font-size: calc(30px + 30 * ((100vw - 320px) / (680)));
    }
    h3 {
        font-size: calc(18px + 18 * ((100vw - 320px) / (680)));
    }
    h4 {
        font-size: calc(18px + 6 * ((100vw - 320px) / (680)));
    }
    h5 {
        font-size: calc(16px + 4 * ((100vw - 320px) / (680)));
    }
    h6 {
        font-size: calc(14px + 2 * ((100vw - 320px) / (680)));
    }
    p, li {
        font-size: calc(18px + 6 * ((100vw - 320px) / (680)));
    }
  }
  @media screen and (min-width: 1000px) {
    h1 {
        font-size: 72px;
    }
    h2 {
        font-size: 60px;
    }
    h3 {
        font-size: 36px;
    }
    h4 {
        font-size: 24px;
    }
    h5 {
        font-size: 20px;
    }
    h6 {
        font-size: 16px;
    }
    p, li {
        font-size: 24px;
    }
  }
  
  
  html {
    color: var(--black);
    background: var(--white);
    overflow-x: hidden;
    margin-top: 3vw;
    margin-bottom: 3vw;
    animation: 1.0s ease-in fade-in;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    transition: 0.28s;
  }
  
  h5 {
    font-family: Lato;
    font-size: 16px;    
    font-weight: bold;
    line-height: inherit;
    margin: 0;
  }
  
  .subtitle{
    font-family: Lato;
    font-size: 20px;
    display: flex;
    position: relative;
    margin-left: 10px;
  }
  
  .grid{
    display: grid;
    grid-template-columns: minmax(0, 0.15fr);
  }
  
  .c12 {
    grid-column: 2 /12;
  }
  .c6 {
    grid-column: 4 / 10;
  }
  .c6-left {
    grid-column: 1 / 7;
  }
  .c6-right {
    grid-column: 8 / 12;
  }
  .flex {
    display: flex;
    flex-direction: column;
  }
  
  .hero {
    position: relative;
  }
  
  .header {
    display: flex;
    flex-direction: row;
    line-height: 3em;
  }
  
  .heading{
    font-family: Lato-Black;
    font-size: 80px;
  }
  
  .option{
    font-family: Lato;
    font-weight: 500;
    font-size: 20px;
  }
  
  .logo{
      height: 5em;
      transition: 1.5s ease-in-out;
      vertical-align: middle;
  }
  
  .nav {
    line-height: 3em;
    align-items: right;
    margin-left: auto;
  }
  
  .content-web {
    display: none;
  }
  
  .main {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  
  .section {
    margin-bottom: 3em;
  }
  
  .option {
    display: inline;
    margin-left: 6vw;
    font-weight: normal;
    color: #888888;
  }
  .selected {
    font-weight: 500;
    color: black;
  }
  .option:hover {
    color: var(--black);
  }
  
  .block{
    display: flex;
    flex-direction: column;
  }
  
  .highlight{
   background-color: #4AFC95;
   font-weight: bold;
   padding-top: 2px;
   padding-bottom: 4px;
  }
  
  .smm{
    font-size: 35px;
    max-width: 80%;
    font-family: Lato;
  }
  
  .smm2{
    font-family: Lato;
    font-size: 26px;
  }
  
  .ashoka{
    color: #c02739;
  }
  
  .start{
    margin-top: 4.5vh;
  }
  
  @media screen and (min-width: 650px) {
    /* GLOBAL */
    .content-web {
        display: flex;
    }
    .content-mobile {
        display: none;
    }
    
    /* GRID */
    .grid {
        grid-template-columns: repeat(12, minmax(0, 1fr));
    }
    .flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    /* HEADER */
    .hero {
        margin-bottom: 3em;
    }
    .header {
        margin-bottom: 1.5em;
        line-height: 3em;
        justify-content: space-between;
    }
    .logo {
        height: 5em;
    }
    .nav {
        margin-left: auto;
        margin-right: 3em;
        line-height: 3em;
    }
    .option {
        margin-left: 3vw;
    }
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(0.05%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }