/* Global Headings */

h1 {
  font-family: Lato;
  font-size: 36px;    
  font-weight: bold;
  line-height: inherit;
  margin: 0;
}
  
h3 {
  font-family: Lato;
  font-size: 18px;    
  font-weight: bold;
  line-height: inherit;
  margin: 0;
}

h6 {
  font-family: Lato;
  font-size: 14px;    
  font-weight: bold;
  line-height: inherit;
  margin: 0;
}

/* Media Queries for Responsiveness */

  @media screen and (min-width: 450px) {
    h1 {
        font-size: calc(36px + 36 * ((100vw - 320px) / 680));
    }
    h2 {
        font-size: calc(30px + 30 * ((100vw - 320px) / (680)));
    }
    h3 {
        font-size: calc(18px + 18 * ((100vw - 320px) / (680)));
    }
    h4 {
        font-size: calc(18px + 6 * ((100vw - 320px) / (680)));
    }
    h5 {
        font-size: calc(16px + 4 * ((100vw - 320px) / (680)));
    }
    h6 {
        font-size: calc(14px + 2 * ((100vw - 320px) / (680)));
    }
    p, li {
        font-size: calc(18px + 6 * ((100vw - 320px) / (680)));
    }
  }
  
  @media screen and (min-width: 1000px) {
    h1 {
        font-size: 72px;
    }
    h2 {
        font-size: 60px;
    }
    h3 {
        font-size: 36px;
    }
    h4 {
        font-size: 24px;
    }
    h5 {
        font-size: 20px;
    }
    h6 {
        font-size: 16px;
    }
    p, li {
        font-family: Lato;
        font-size: 24px;
    }
  }
  
  .c6 {
    grid-column: 4 / 10;
  }
  
  .c6-right {
      grid-column: 8 / 12;
  }
  
  .c6-left {
    grid-column: 1 / 7;
  }

.title{
  font-family: Lato;
  font-size: 40px;
  margin-left: 10px;
  margin-top: 12px;
}

  html {
    overflow-x: hidden;
    margin-top: 3vw;
    animation: 1.0s ease-in fade-in;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    transition: 0.28s;
  }
  
  h5 {
    font-family: Lato;
    font-size: 14px;    
    font-weight: bold;
    line-height: inherit;
    margin: 0;
  }


  .main {
    margin-top: 0.5em;
    margin-bottom: 1em;
}


  .content {
    display: grid;
    grid-column-gap: 4vw;
    grid-row-gap: 5vw;
    position: relative;
    margin-top: 3em;
    margin-bottom: 3em;
}

.card {
  border-radius: 7px;
  width: 100%;
  height: 250px;
  vertical-align: middle;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.area {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: center;
  
}

.trana-card {
  background-color: #ee9617;
  background-image: linear-gradient(315deg, #ee9617 0%, #fe5858 74%);

}

.twitch-card{
  background-color: #6441A5;
  background-image: linear-gradient(315deg, #6441A5 30%, #9921E8 95%);
}

.laser-card {
  background-color: #7ee8fa;
  background-image: linear-gradient(315deg, #7ee8fa 0%, #4AFC95 74%);
}

.card-logo{
  position: relative;
  margin-bottom: -65px;
  height: 30%;
}

  .subtitle{
    font-family: Lato;
    font-size: 18px;
    display: flex;
    position: relative;
    margin-left: 10px;
    margin-top: -12px;
  }

.summary {
  display: grid;
  grid-template-columns: 100%;
}

.summary-section {
  width: 100%;
}

.summary-item {
  margin-bottom: 0.5em;
}

  .para{
    font-family: Lato;
    font-size: 18px;
    margin-left: 10px;
    margin-bottom: 0;
    margin-top: 5px;
  }

  .section-para{
    font-family: Lato;
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 2px;
  }

  .magic-potion{
    color: #ff4466;
  }

  .chat{
    /* text-align: center; */
  }

  .contact{
    font-family: Lato-Black;
    font-size: 40px;
    margin-top: 20vh;
  }

  .mail{
    font-size: 30px;
    margin-top: -20px;
  }

  .footer{
    margin-top: 20vh;
    width: 100%;
    text-align: center;
  }

  .highlight-mail{
    background-color: #4AFC95;
    padding-bottom: 2px;
    font-weight: bold;
  }

  .para-left{
    font-family: Lato;
    font-size: 19px;
    margin-left: 10px;
    width: 95%;
  }

  .sub-heading{
    font-family: Lato-Black;
    font-size: 18px;
    color: #fe5858;
    display: flex;
    position: relative;
    margin-left: 10px;
  }

  .section-heading{
    font-family: Lato-Black;
    font-size: 18px;
    color: #fe5858;
    display: flex;
    position: relative;
    margin-left: 3.5px;
  }

  .twitch-heading{
    font-family: Lato-Black;
    font-size: 18px;
    color: #6441A5;
    display: flex;
    position: relative;
    margin-left: 10px;
  }
  
  .grid{
    display: grid;
    grid-template-columns: minmax(0, 1fr);
  }
  
  .c12 {
    grid-column: 2 /12;
  }

  .c6 {
    grid-column: 4 / 10;
  }

  .c4{
    grid-column: 3 / 11;
  }

  .c6-left {
    grid-column: 1 / 7;
  }

  .c6-right {
    grid-column: 8 / 12;
  }

  .flex {
    display: flex;
    flex-direction: column;
  }

  .social {
    display: inline;
    text-align: center;
}

.white{
  color: white;
}

.twitch-logo{
  margin-top: 50px;
  margin-bottom: 5px;
  width: 35%;
  height: auto;
}

.icons {
  display: inline-block;
  height: 1.55em;
  margin-left: 25px;
  margin-right: 25px;
  opacity: 0.5;
  transition: 0.28s;
}

.icons:hover{
  opacity: 0.95;
  transition: 0.25s ease-in;

}
  
  .hero {
    position: relative;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 3em;
  }
  
  .heading{
    font-family: Lato-Black;
    font-size: 70px;
    margin-bottom: -10px;
    vertical-align: middle;
    margin-top: 7vh;
  }

  .section-title{
    font-family: Lato-Black;
    font-size: 80px;
    margin-bottom: 10px;
  }

  .laser-heading{
    font-family: Airstrike Laser;
    font-size: 70px;
    margin-bottom: -5px;
    vertical-align: middle;
    margin-top: 90px;

  }

  .trana-heading{
    font-family: Dosis;
    font-size: 80px;
    font-weight: 400;
    margin-bottom: -10px;
  }
  
  .option{
    font-family: Lato;
    font-weight: 500;
    font-size: 3em;
  }
  
  .logo{
      height: 3em;
      transition: 1.5s ease-in-out;
      vertical-align: middle;
      align-self: left;
      flex-direction: ;
  }

  .nav {
    line-height: 3em;
    align-items: center;
  }
  
  .content-web {
    display: none;
  }

  .section {
    margin-bottom: 3em;
  }
  
  .option {
    display: inline;
    font-size: 14px;
    margin-left: 3vw;
    font-weight: normal;
    color: #888888;
  }
  .selected {
    font-weight: 500;
    color: black;
  }
  .option:hover {
    color: black;
    transition: 0.25s ease-in;
  }
  
  .block{
    display: flex;
    flex-direction: column;
  }
  
  .highlight{
    background-color: #4AFC95;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
    padding-left: 5px;
  }

  .highlight-laser{
    background-color: #7ee8fa;
    background-image: linear-gradient(315deg, #7ee8fa 0%, #4AFC95 74%);
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .highlight-werk{
    background-color: #ee9617;
    background-image: linear-gradient(315deg, #ee9617 0%, #fe5858 74%);
    color: #ffffff;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .highlight-twitch{
    background-color: #6441A5;
    background-image: linear-gradient(315deg, #9921E8 20%, #6441A5 95%);
    color: #ffffff;
    padding-top: 3px;
    padding-bottom: 8px;
    padding-right: 15px;
    padding-left: 15px;
  }
 
  .filler{
    background-color: #888888;
    width: 100%;
    height: 500px;
    margin-top: 30px;
    margin-bottom: 80px;
  }

  .divide{
    border-top: 1px solid #c7c7c7;
    margin-bottom: 3em;
  }
  
  .smm{
    font-size: 28px;
    max-width: 80%;
    font-family: Lato;
  }
  
  .smm2{
    font-family: Lato;
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 18vh;
  }

  .medium{
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
  }

  .laser-medium{
      font-family: Lato;
      font-size: 18px;
      font-weight: 400;
    }
  
  .ashoka{
    color: #c02739;
  }
  
  .start{
    margin-top: 0;
  }

  .error{
    text-align: center;
  }

  .copyright{
    color: #353535;
    margin-top: 25px;
    font-size: 15px;
  }
  

  .content-heading{
    font-family: Lato-Black;
    font-size: 90px;
    margin-top: -20px;
  }
  
  @media screen and (min-width: 700px) {
    /* GLOBAL */
    .content-web {
        display: flex;
    }
    .content-mobile {
        display: none;
    }
    
    /* GRID */
    .grid {
        grid-template-columns: repeat(12, minmax(0, 1fr));
    }

    .content {
      grid-template-columns: 45% 45%;
    }

    .summary {
      grid-template-columns: 60% 40%;
      grid-column-gap: 5vw;
    }

    .flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    /* HEADER */
    .hero {
        margin-bottom: 3em;
    }

    .header {
      display: flex;
      flex-direction: row;
      align-items: inherit;
      margin-bottom: 1.5em;
      line-height: 3em;
      justify-content: space-between;
    }
    
    .logo {
        height: 5em;
        margin-right: 0;
    }

    .nav {
        margin-left: auto;
        margin-right: 3em;
        line-height: 3em;
    }

    .option {
      align-items: center;
      font-size: 14px;
      margin-left: 4vw;
    }
  }

  ::selection {
    background: #4AFC95;
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(0.05%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }